<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://coverboard.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>coverboard.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>coverboard</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$coverboard</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TaskboardDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:taskboard.database.windows.net,1433;Initial Catalog=coverboard108;User ID=taskboard@taskboard;Password=kietl@wuL8s%" Name="Data Source=tcp:taskboard.database.windows.net,1433;Initial Catalog=coverboard108;User Id=taskboard@taskboard;Password=kietl@wuL8s%" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="taskboard.Models.TaskboardDbContext, taskboard" MigrationConfiguration="taskboard.Migrations.Configuration, taskboard" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TaskboardDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:taskboard.database.windows.net,1433;Initial Catalog=coverboard108;User Id=taskboard@taskboard;Password=kietl@wuL8s%</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>